{% extends 'common.html' %}

{% block title %}
Homepage
{% endblock title %}

{% block body %}
<div class="container my-5" style="text-align:center ;">
    <div class="alert alert-success" role="alert">
        Successfull !!
    </div>
</div>

<div class="container">
    <form method="post" action="/homepage">
        <button type="submit" class="btn btn-outline-dark" name="delete_databases" ,id="delete_databases">Click here
            to go to home page</button>
    </form>
</div>


{% endblock body %}